DB_DATABASE=db_news
DB_USERNAME=<user>
DB_HOSTNAME=<server>
DB_PASSWORD=<pass>

AIRFLOW_UID=1001
_PIP_ADDITIONAL_REQUIREMENTS=
_AIRFLOW_WWW_USER_USERNAME=<airflow-webui-username>
_AIRFLOW_WWW_USER_PASSWORD=<airflow-webui-parool>
